:root {
    --pressed: #ccff90;
    --pressing: #76ff03;
}

@font-face {
    font-family: circularStdBook;
    src: url(../fonts/CircularStd-Book.otf);
}

div {
    font-family: circularStdBook;
}

.keyboard {
    font-size: 26px;
}

.footer {
    font-size: 24px;
}

.inner {
    position: absolute;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #69f0ae;
    color: black;
    text-align: center;
}

.maincontent {
    position: fixed;
    left: 25%;
    top: 25%;
}

.contrib {
    font-size: 22px;
}

.center {
    vertical-align: middle;
}

.keycontainer {
    position: relative;
    height: 70px;
    width: 70px;
    text-align: center;
    margin: auto;

    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.pressed {
    background-color: var(--pressed);
}

.pressing {
    background-color: var(--pressing)
}

.keyname {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}
