:root {
    --pressed: #ccff90;
    --pressing: #76ff03;
}

.keycontainer {
    height: 50px;
    width: 50px;
}

.pressed {
    background-color: var(--pressed);
}

.pressing {
    background-color: var(--pressing)
}