:root {
    --pressed: #ccff90;
    --pressing: #76ff03;
}

.keycontainer {
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: auto;
}

.pressed {
    background-color: var(--pressed);
}

.pressing {
    background-color: var(--pressing)
}

.keyname {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}